.options {
    //background-color: aqua;
    display: flex;
    align-items: center;
    align-content: center;

    span {
        //background-color: red;
        padding-top: 0.25rem;
        font-size: 1.125rem;
    }

    /*
    &:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    */
}

.checkBox {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.25rem 0.5rem;
}