.content {
    width: 100%;
    height: calc(100vh - 5rem - 3rem); //total viewport height minus header and footer
    //background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 100%;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    //background-color: purple;
}

.leftContainer {
    max-width: 1120px;
    margin: 0 auto;
    //background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: right;
    justify-content: center;
}

.titleContainer {
    width: 100%;
    color: #3152e2;
    text-align: center;

    h1 { 
        font-size: 4rem;
    }
}

.questionContainer {
    margin-top: 2rem;
    width: 70%;
    line-height: 2rem;
    font-size: 1.25rem;
    //background-color: yellow;
    //padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 1.5fr;
}

.answerContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    //background-color: grey;
    padding-top: 1.75rem;
}

.submitForm {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    //background-color: blue;
    
    * {
        display: flex;
    }
    
}

.subject {
    margin-top: 0.25rem;
}

.answer {
    width: 90%;
    border-bottom: solid 1px black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.25rem;
    background-color: whitesmoke;

    &:focus {
        outline: none;
        border-bottom: solid 2px;
    }

    &.correct {
        border-bottom: solid 3px green;
    }

    &.incorrect {
        border-bottom: solid 3px red;
    }
}

.submitAnswerButton {
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;
    background-color: #3152e2;
    color: white;
    border: 1px solid white;
    border-radius: 10px;

    &:hover {
        filter: opacity(0.8);
    }
}

.correction {
    //background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    text-indent: 5px;
}

.getNewVerbButton {
    margin-top: 2.5rem;
    padding: 0.5rem 2.5rem;
    font-size: 1.25rem;
    background-color: #3152e2;
    color: white;
    border: 1px solid white;
    border-radius: 10px;

    &:hover {
        filter: opacity(0.8);
    }
}

@media (max-width: 720px) {
    .divider {
        display: flex;
        flex-direction: column;
    }
}