.title {
    color: white;
    font-size: 5rem;
    align-items: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    //background-color: blue;
    height: 5rem;
}

.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 20rem);
    align-content: center;
    border: 1px solid blue;
    //background-color: red;
    display:grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
    //justify-content: center;

    form {
        * {
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }

    button {
        font-size: 1.25rem;
        padding: 0.25rem;
    }
}

.questionContainer {
    line-height: 2rem;
    font-size: 1.5rem;
    //background-color: black;
    padding: 5px;
}
