.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    //margin-top: 1rem;
    padding: 0 2rem;
    //height: 100%;
    height: calc(100vh - 5rem - 3rem);
    align-content: center;
    //border: 1px solid blue;
    //background-color: red;
    display: flex;
    flex-direction: column;
    //display: grid;
    //grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    //border: 1px solid #172f9c;
}

.titleContainer {
    width: 100%;
    //background-color: green;
    color: #3152e2;
    font-size: 2rem;
    text-align: center;
    //margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.questionContainer {
    margin-top: 2rem;
    width: 500px;
    height: 200px;
    line-height: 2rem;
    font-size: 1.5rem;
    //background-color: yellow;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "qP qG qG"   "f f f"  "nVB nVB nVB";
    align-items: center;
}

.questionPromptContainer {
    padding: 0.5rem;
    //background-color: green;
    //line-height: 2rem;
    //font-size: 1.5rem;
    grid-area: qP;
    //display: flex;
}

.questionGeneratedContainer {
    padding: 0.5rem;
    //background-color: pink;
    line-height: 2rem;
    //font-size: 1.5rem;
    grid-area: qG;
}


.submitForm {
    padding: 0.5rem;
    grid-area: f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "s a cB";
    //background-color: aqua;

    * {
        margin: 1rem;
    }
}

.subject {
    grid-area: s;
    text-align: end;
    //padding-right: 1rem;
    //background-color: purple;
}

.answer {
    grid-area: a;
    align-items: start;
    border-bottom: solid 1px black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
    background-color: whitesmoke;
    //background-color: greenyellow;

    &:focus {
        outline: none;
        border-bottom: solid 2px;
    }
}

.correct {
    border-bottom: solid 2px #3152e2;
}

.incorrect {
    border-bottom: solid 2px red;
}

.submitAnswer {
    grid-area: cB;
    //font-size: 1.25rem;
    padding: 0.25rem;
    //background-color: brown;
}

.getNewVerbButton {
    grid-area: nVB;
    //font-size: 1.25rem;
    padding: 0.25rem;
    height: 1.75rem;
    width: 20rem;
    //background-color: darkmagenta;
    justify-self: center;
}