.modalOverlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background: whitesmoke;
    width: 95%;
    max-width: 684px;
    padding: 3rem 2rem 2rem 2rem;
    position: relative;
    border-radius: 0.25rem;

    &:focus {
        outline: none;
    }
}

.modalClose {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
        filter: opacity(0.5);
    }
}

.title {
    font-size: 2rem;
    width: 100%;
    background-color: #3152e2;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}

.settingsContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.3fr;
    width: 100%;
}

.selectionContainer {
    padding: 0 0.25rem;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.25rem;
        text-align: center;
        color: white;
        background-color: #3e61ffe1;
        margin-bottom: 0.5rem;
    }

    h3 {
        text-align: center;
        margin-bottom: 0.25rem;
    }

}

.tenseCategory {
    &:not(:first-of-type) {
        margin-top: 1rem;
    }
}


.saveSettingsButton {
    display: flex;
    justify-content: center;

    button {
        margin-top: 2.5rem;
        padding: 0.5rem 2.5rem;
        font-size: 1.25rem;
        background-color: #3152e2;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
    
        &:hover {
            filter: opacity(0.8);
        }
    }
}