.headerContainer {
    width: 100%;
    height: 5rem;
    border-bottom: 3px solid rgb(8, 15, 73);
    background-color: #001fa8
}

.headerContent {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.langs {
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
        background-color: #001fa8;  
        border: none;
        margin-right: 1.5rem;
    }

    img {
        width: 1.75rem;
        height: 1.75rem;
        
        filter: drop-shadow(1px 1px 1px black);

        &:hover {
            filter: opacity(0.8)
        }
    }
}


.links {
    display:flex;
    justify-content: flex-end;
    align-items: center;

    a {
        color: white;
        display: inline-block;
        position: relative;
        margin-left: 1.5rem;

        &:hover {
            filter: opacity(0.8)
        }
    }

}
